<%= form_with(model: sbubscription, local: true) do |form| %>
  <% if sbubscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sbubscription.errors.count, "error") %> prohibited this sbubscription from being saved:</h2>

      <ul>
      <% sbubscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
