<p id="notice"><%= notice %></p>

<h1>Sbubscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sbubscriptions.each do |sbubscription| %>
      <tr>
        <td><%= sbubscription.name %></td>
        <td><%= link_to 'Show', sbubscription %></td>
        <td><%= link_to 'Edit', edit_sbubscription_path(sbubscription) %></td>
        <td><%= link_to 'Destroy', sbubscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sbubscription', new_sbubscription_path %>
