<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sbubscription.name %>
</p>

<%= link_to 'Edit', edit_sbubscription_path(@sbubscription) %> |
<%= link_to 'Back', sbubscriptions_path %>
