<!DOCTYPE html>
<html>
<head>
  <title>Subscriptions</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "https://js.stripe.com/v3/", "application" %>
</body>
</html>

